@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* for navigation links*/
a {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  --primary-color: #111;
  --hovered-color: #57a3f5;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

a p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

a::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

a p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  /*content: "About";*/
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease ease-in-out;
}

a:hover::after {
  width: 100%;
}

:hover p::before {
  width: 100%;
}
/*end of navigatiom*/


















@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
